.display {
    flex-basis: 20%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: #434343;
    margin-bottom: 0.2vh;
    font-size: 100px;
    color: white;
}

.history {
    font-size: 0.5em;
    color: gold;
}

