.display {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0.2vh;
    font-size: 90px;
    background-color: #434343;
    color: white;
}

.history {
    font-size: 0.5em;
    color: gold;
}

